<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('homepage-banner') %>);">
  <div class="container">
    <h1>Spaceship Rentals</h1>
    <p>Trips for many planets an moons, at an affordable price.</p>
    <%= link_to "Browse our ships now", "#", class: "btn btn-flat" %>
  </div>
</div>