<%= render "components/spaceship-show-card" %>

<% if user_signed_in? && current_user.bookings.last.spaceship_id != params[:id].to_i %>
<%= render "bookings/form"%>
<% end %>

<% if !user_signed_in? %>
<p> You need to sign-in to make a booking! </p>
<%end%>

