<%= render "components/spaceship-show-card" %>

<% if user_signed_in? && current_user.last_booked_spaceship_id != @spaceship.id %>
<%= render "bookings/form"%>
<% end %>

<% if !user_signed_in? %>
<p> You need to sign-in to make a booking! </p>
<%end%>

<%= link_to "Back", spaceships_path, class: 'btn btn-info my-3 mx-3' %>
