.alert {
  position: fixed;
  top: 4rem;
  left: 30%;
  z-index: 1000;
  opacity: 0.8;
  //border: 1px solid $action;
  padding: 0.75rem;
  background-color: red;
  border: 1px solid grey;
  color: grey;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding-right: 3rem;
}
